example/41143264/XML/xmlch06/hw6-3.dtd

<?xml version="1.0" encoding="utf-8" ?>
<!ELEMENT students (student*)>
<!ELEMENT student (name, id, school, no, email, hobby*, address)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT school (#PCDATA)>
<!ELEMENT no (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT hobby (#PCDATA)>
<!ELEMENT address (#PCDATA)>